*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    // color: white
    &::-webkit-scrollbar{
        display: none;
    }
}

a,h2{
    color: white
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

$bg: rgb(16, 15, 15);
.header{
    height: 100px;
    background-color: $bg;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;

    > img{
        height: 70%;
    }

    > div{
        // border: 1px solid red;
        width: 100%;
        margin-left: 4vmax;

        >a{
            margin: 2vmax;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
    >svg {
        color: white;
        font-size: 2rem;
        cursor: pointer;

        &:hover{
            color: rgb(218, 206, 206);
        }
    }
}


a{
    color: white;
    text-decoration: none;
}